@import "primeicons/primeicons.css";

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
}

ul,
li {
  list-style-type: noneww;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fff;
  color: #000;
  margin: 0;
  padding: 0;
}

.container {
  width: 1300px;
  max-width: 90%;
  margin: 0 auto;
}

.btn-right {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 15px;
}

p-table {
  .img {
    img {
      border-radius: 4px;
      width: 150px;
      max-width: 100%;
      object-fit: cover;
    }
  }

  .user-books {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
  }

  .edit {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
}

.p-dialog.p-confirm-dialog .p-confirm-dialog-message {
  margin: 0;
}

p-sidebar {
  .ng-trigger {
    width: 450px;
  }
}
