<div class="content">
  <h2 class="title" *ngIf="selectedBlogId === null; else edit">Blog Ekle</h2>
  <ng-template #edit>
    <h2 class="title">Bloğu Düzenle</h2>
  </ng-template>
  <form
    [formGroup]="form"
    class="form"
    enctype="multipart/form-data"
    (ngSubmit)="selectedBlogId !== null ? addBlog(selectedBlogId) : addBlog()"
  >
    <app-input-control
      [form]="form"
      [fb]="newTitle"
      placeholder="Blog Adını Giriniz"
    />
    <ng-container *ngIf="newTitle.invalid && newTitle.dirty">
      <p *ngIf="newTitle.errors?.['required']">Blog Adı Zorunludur</p>
    </ng-container>
    <angular-editor [formControl]="newDescription" [config]="editorConfig" />
    <ng-container *ngIf="newDescription.invalid && newDescription.dirty">
      <p *ngIf="newDescription.errors?.['required']">
        Blog Açıklaması Zorunludur
      </p>
    </ng-container>
    <app-input-control
      [form]="form"
      [fb]="newImage"
      type="file"
      (change)="onFileSelected($event)"
    />
    <img [src]="image" alt="" width="80px" />
    <app-input-control [form]="form" [fb]="newpublishDate" type="date" />
    <ng-container *ngIf="newpublishDate.invalid && newpublishDate.dirty">
      <p *ngIf="newpublishDate.errors?.['required']">
        Blog Yayın Tarihi Zorunludur
      </p>
    </ng-container>
    <app-button-control
      [disabled]="!form.valid"
      [content]="selectedBlogId !== null ? 'Bloğu Güncelle' : 'Blog Ekle'"
    />
    <p-toast></p-toast>
    <p-confirmDialog></p-confirmDialog>
  </form>
</div>
