.content {
  .title {
    margin: 10px 10px 10px 0;
    color: #62ab00;
  }
}
::ng-deep {
  p-fileUpload {
    .p-ripple {
      width: 100%;
      display: block;
    }
    .p-fileupload {
      margin: 10px 0;
    }
    .p-button-label {
      display: contents;
    }
  }
  p-calendar {
    .p-calendar {
      width: 100%;
      margin: 10px 0;
    }
  }
  p-button {
    .p-button {
      margin: 10px 0;
    }
  }
}
