<div class="content">
  <h2 class="title" *ngIf="selectedBookId === null; else edit">Kitap Ekle</h2>
  <ng-template #edit>
    <h2 class="title">Kitabı Düzenle</h2>
  </ng-template>
  <form
    [formGroup]="form"
    class="form"
    (ngSubmit)="selectedBookId !== null ? addBook(selectedBookId) : addBook()"
  >
    <input
      pInputText
      formControlName="title"
      style="width: 100%; margin-bottom: 10px"
      placeholder="Kitap Adını Giriniz"
    />
    <ng-container *ngIf="form.get('title').invalid && form.get('title').dirty">
      <p *ngIf="form.get('title').errors?.['required']">Kitap Adı Zorunludur</p>
    </ng-container>
    <p-editor
      formControlName="description"
      [style]="{ height: '250px' }"
      placeholder="Kitap Açıklamasını Giriniz"
    />
    <ng-container
      *ngIf="form.get('description').invalid && form.get('description').dirty"
    >
      <p *ngIf="form.get('description').errors?.['required']">
        Kitap Açıklaması Zorunludur
      </p>
    </ng-container>
    <p-fileUpload
      mode="basic"
      name="image"
      chooseLabel="Dosya Seç"
      (onSelect)="onFileSelected($event)"
      accept=".jpg,.png,.jpeg"
    />
    <ng-container *ngIf="form.get('image').invalid && form.get('image').dirty">
      <p *ngIf="form.get('image').errors?.['required']">
        Kitap Fotoğrafı Zorunludur
      </p>
    </ng-container>
    <img [src]="image" alt="" width="80px" />
    <input
      pInputText
      formControlName="publisher"
      style="width: 100%; margin-bottom: 10px"
      placeholder="Kitap Yayıncısını Giriniz"
    />
    <ng-container
      *ngIf="form.get('publisher').invalid && form.get('publisher').dirty"
    >
      <p *ngIf="form.get('publisher').errors?.['required']">
        Kitap Yayıncısı Zorunludur
      </p>
    </ng-container>
    <input
      pInputText
      formControlName="author"
      style="width: 100%; margin-bottom: 10px"
      placeholder="Kitap Yazarını Giriniz"
    />
    <ng-container
      *ngIf="form.get('author').invalid && form.get('author').dirty"
    >
      <p *ngIf="form.get('author').errors?.['required']">
        Kitap Yazarı Zorunludur
      </p>
    </ng-container>
    <p-dropdown
      [options]="categories"
      formControlName="categoryId"
      optionLabel="title"
      optionValue="id"
      placeholder="Kitap Kategorisini Seçiniz"
    />
    <ng-container
      *ngIf="form.get('categoryId').invalid && form.get('categoryId').dirty"
    >
      <p *ngIf="form.get('categoryId').errors?.['required']">
        Kitap Kategorisi Zorunludur
      </p>
    </ng-container>
    <input
      type="number"
      pInputText
      formControlName="price"
      style="width: 100%"
      placeholder="Kitap Fiyatını Giriniz"
    />
    <ng-container *ngIf="form.get('price').invalid && form.get('price').dirty">
      <p *ngIf="form.get('price').errors?.['required']">
        Kitap Fiyatı Zorunludur
      </p>
    </ng-container>
    <p-calendar
      formControlName="publishDate"
      name="publishDate"
      placeholder="Kitap Yayın Tarihini Giriniz"
      dateFormat="yy-mm-dd"
    />
    <ng-container
      *ngIf="form.get('publishDate').invalid && form.get('publishDate').dirty"
    >
      <p *ngIf="form.get('publishDate').errors?.['required']">
        Kitap Yayın Tarihi Zorunludur
      </p>
    </ng-container>
    <input
      type="number"
      pInputText
      formControlName="pageNumber"
      style="width: 100%; margin-bottom: 10px"
      placeholder="Kitap Sayfa Sayısını Giriniz"
    />
    <ng-container
      *ngIf="form.get('pageNumber').invalid && form.get('pageNumber').dirty"
    >
      <p *ngIf="form.get('pageNumber').errors?.['required']">
        Kitap Sayfa Sayısı Zorunludur
      </p>
    </ng-container>
    <p-button
      type="submit"
      [label]="selectedBookId !== null ? 'Kitabı Güncelle' : 'Kitap Ekle'"
      [disabled]="!form.valid"
      severity="success"
      size="small"
    />
    <p-toast />
  </form>
</div>
