<div class="content">
  <div class="left">
    <h2>Banner Ayarları</h2>
    <div class="banner">
      <ng-container *ngFor="let banner of banners">
        <div class="banner-container">
          <img [src]="banner.image" />
          <p-button
            type="button"
            (click)="deleteBanner(banner.id)"
            severity="danger"
            class="banner-btn"
          >
            <i class="fa-solid fa-trash"></i>
          </p-button>
        </div>
      </ng-container>
      <p-button
        type="button"
        (click)="showDialog()"
        severity="success"
        class="banner-create"
        label="Banner Ekle"
      >
        <i class="fa-solid fa-plus"></i>
      </p-button>
      <p-dialog
        header="Banner Ekle"
        [(visible)]="visible"
        [modal]="true"
        [style]="{ width: '30vw' }"
        [draggable]="false"
        [resizable]="false"
      >
        <form [formGroup]="bannerForm" (ngSubmit)="addBanner()">
          <p-fileUpload
            mode="basic"
            name="image"
            chooseLabel="Dosya Seç"
            (onSelect)="onFileSelected($event)"
            accept=".jpg,.png,.jpeg"
          />
          <p-button
            type="submit"
            [disabled]="!selectedFile"
            severity="success"
            label="Banner Ekle"
            size="small"
          />
        </form>
      </p-dialog>
    </div>
  </div>
  <div class="right">
    <h2>İletişim Bilgileri</h2>
    <form [formGroup]="settingForm" class="form" (ngSubmit)="updateSettings()">
      <input
        type="tel"
        pInputText
        formControlName="phone"
        style="width: 100%; margin-bottom: 10px"
        placeholder="Telefon Numarasını Giriniz"
      />
      <input
        type="email"
        pInputText
        formControlName="phone"
        style="width: 100%; margin-bottom: 10px"
        placeholder="E-Mail Adresini Giriniz"
      />
      <input
        pInputText
        formControlName="phone"
        style="width: 100%; margin-bottom: 10px"
        placeholder="Firma Adresinizi Giriniz"
      />
      <p-button
        type="submit"
        [disabled]="!settingForm.valid"
        severity="success"
        label="Güncelle"
        size="small"
      />
    </form>
  </div>
</div>

<p-toast />
<p-confirmDialog />
