.content {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 30px;
  h2 {
    margin-bottom: 15px;
  }
  .left {
    flex: 0 1 calc(50% - 30px);
    width: 50%;
    .banner {
      display: flex;
      align-items: center;
      gap: 10px;
      .banner-container {
        position: relative;
        &:hover .banner-btn {
          display: block;
        }
        img {
          border-radius: 8px;
          border: 1px solid #000;
          width: 70px;
          height: 70px;
        }

        .banner-btn {
          position: absolute;
          top: 3px;
          right: 3px;
          display: none;
          ::ng-deep {
            button {
              width: 32px;
              height: 32px;
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }
        }
      }
      .banner-create {
        border-radius: 8px;
        font-weight: 600;
        ::ng-deep {
          button {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 70px;
            height: 70px;
          }
        }
      }
    }
  }
  .right {
    flex: 0 1 calc(50% - 30px);
    width: 50%;
    p-button {
      display: flex;
      justify-content: flex-end;
    }
  }
}

::ng-deep {
  p-dialog {
    p-fileUpload {
      .p-fileupload {
        margin: 10px 0;
      }
    }
  }
}
