<p-sidebar
  [(visible)]="sidebarVisible"
  position="right"
  styleClass="w-30"
  appSidebar
>
  <app-users-feature [selectedUserId]="selectedUserId" />
</p-sidebar>

<p-table [value]="pagedUsers">
  <ng-template pTemplate="header">
    <tr>
      <th>Kullanıcı ID</th>
      <th>Kullanıcı İsmi</th>
      <th>Kullanıcı Soyismi</th>
      <th>Kullanıcı Hesap Oluşturma Tarihi</th>
      <th>Kullanıcı E-Mail Adresi</th>
      <th>Kiraladığı Kitaplar</th>
      <th>İşlemler</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-user>
    <tr>
      <td>{{ user.id }}</td>
      <td>{{ user.firstName }}</td>
      <td>{{ user.lastName }}</td>
      <td>{{ user.accountDate | date : "MMMM, dd, y" : null : "tr" }}</td>
      <td>{{ user.email }}</td>
      <td>
        <div class="user-books">
          <ng-container *ngIf="user.rentalBooks.length > 0; else noBooks">
            <p *ngFor="let userBook of user.rentalBooks">
              Kitap Adı: <strong>{{ getBooksName(userBook.bookId) }}</strong>
            </p>
          </ng-container>
          <ng-template #noBooks>
            <p>Kitap Bulunamadı</p>
          </ng-template>
        </div>
      </td>
      <td>
        <div class="edit">
          <p-button
            label="Düzenle"
            (click)="toggleSidebar(user.id)"
            severity="warning"
            size="small"
          />
          <p-button
            label="Sil"
            (click)="deleteUser(user.id)"
            severity="danger"
            size="small"
          />
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>

<p-paginator
  [rows]="rows"
  [totalRecords]="users.length"
  [rowsPerPageOptions]="rowSize"
  (onPageChange)="onPageChange($event)"
/>
<p-toast />
<p-confirmDialog />
<div *ngIf="pagedUsers.length === 0" class="empty">Kullanıcılar Bulunamadı</div>
