<div *ngIf="book">
  <div class="book-content">
    <div class="book-img">
      <img [src]="book.image" [alt]="book.title" />
    </div>
    <div class="book-feature">
      <h2 class="title">{{ book.title }}</h2>
      <div class="author">
        <p><strong>Yazar: </strong>{{ book.author }}</p>
        <p><strong>Yayıncı: </strong>{{ book.publisher }}</p>
      </div>
      <p class="desc" [innerHTML]="book.description"></p>
      <div class="feauture">
        <p><strong>Kategori: </strong>{{ getCategoryName(book.categoryId) }}</p>
        <p><strong>Sayfa Sayısı: </strong>{{ book.pageNumber }}</p>
        <p>
          <strong>Yayın Tarihi: </strong
          >{{ book.publishDate | date : "MMMM, dd, y" : null : "tr" }}
        </p>
      </div>
      <div class="rent">
        <p-button
          [label]="
            book.rentedFrom == -1 ? book.price + ' ₺ / Kirala' : 'Kiralanamaz'
          "
          severity="success"
          size="small"
          (click)="rent()"
          [disabled]="book.rentedFrom != -1"
          [routerLink]="'/book-detail/' + book.id"
        />
      </div>
    </div>
  </div>
</div>
<p-toast />
<p-confirmDialog />
