<div class="books">
  <div class="sidenav">
    <app-filter-sidenav />
  </div>
  <div class="books-content">
    <div class="cards" *ngIf="books.length > 0">
      <p-card
        [header]="book.title"
        [subheader]="getCategoryName(book.categoryId)"
        class="card"
        *ngFor="let book of pagedBooks"
      >
        <ng-template pTemplate="header">
          <img [alt]="book.title" [src]="book.image" />
        </ng-template>
        <p [innerHTML]="book.description.slice(0, 40) + '...'"></p>
        <ng-template
          pTemplate="footer"
          style="display: flex; justify-content: space-between"
        >
          <p-button
            label="Kitabı Gör"
            severity="success"
            size="small"
            [routerLink]="'/book-detail/' + book.id"
          />
          <p-button
            [label]="
              book.rentedFrom == -1 ? book.price + ' ₺ / Kirala' : 'Kiralanamaz'
            "
            severity="warning"
            size="small"
            (click)="rent(book.id)"
            [disabled]="book.rentedFrom != -1"
            [routerLink]="'/book-detail/' + book.id"
          />
        </ng-template>
      </p-card>
    </div>

    <p-paginator
      [rows]="rows"
      [totalRecords]="books.length"
      [rowsPerPageOptions]="rowSize"
      (onPageChange)="onPageChange($event)"
    />
  </div>
</div>
<p-toast />
<p-confirmDialog />
