<div class="profile">
  <form [formGroup]="form" class="form" (ngSubmit)="updateUser()">
    <input
      type="text"
      pInputText
      formControlName="firstName"
      style="width: 100%; margin-bottom: 10px"
      placeholder="Adınızı Giriniz"
    />
    <ng-container
      *ngIf="form.get('firstName').invalid && form.get('firstName').dirty"
    >
      <p *ngIf="form.get('firstName').errors?.['required']">
        İsim Alanı Zorunludur
      </p>
    </ng-container>
    <input
      type="text"
      pInputText
      formControlName="lastName"
      style="width: 100%; margin-bottom: 10px"
      placeholder="Soydınızı Giriniz"
    />
    <ng-container
      *ngIf="form.get('lastName').invalid && form.get('lastName').dirty"
    >
      <p *ngIf="form.get('lastName').errors?.['required']">
        Soyisim Alanı Zorunludur
      </p>
    </ng-container>
    <input
      type="text"
      pInputText
      formControlName="email"
      style="width: 100%; margin-bottom: 10px"
      placeholder="E-Mail Adresinizi Giriniz"
    />
    <ng-container *ngIf="form.get('email').invalid && form.get('email').dirty">
      <p *ngIf="form.get('email').errors?.['required']">
        E-Mail Adresi Zorunludur
      </p>
      <p *ngIf="form.get('email').errors?.['email']">
        E-Mail Adresi Doğru Format'da Olmalıdır
      </p>
    </ng-container>
    <p-button
      type="submit"
      label="Profili Güncelle"
      [disabled]="!form.valid"
      severity="success"
    />
  </form>
  <div class="profile-info">
    <p>
      Adınız: <strong> {{ currentUser.firstName }}</strong>
    </p>
    <p>
      Soyadınız: <strong> {{ currentUser.lastName }}</strong>
    </p>
    <p>
      E-Mail Adresiniz: <strong> {{ currentUser.email }}</strong>
    </p>
    <p>
      Hesap Oluşturma Tarihi:
      <strong> {{ currentUser.accountDate }}</strong>
    </p>
  </div>
</div>
<p-toast />
<p-confirmDialog />
