<div class="btn-right">
  <p-button label="Blog Ekle" size="small" (click)="toggleSidebar()" />
</div>

<p-sidebar
  [(visible)]="sidebarVisible"
  position="right"
  styleClass="w-30"
  appSidebar
>
  <app-blog-feature [selectedBlogId]="selectedBlogId" />
</p-sidebar>

<p-table [value]="pagedBlogs">
  <ng-template pTemplate="header">
    <tr>
      <th>Blog ID</th>
      <th>Blog Kapak Fotoğrafı</th>
      <th>Blog İsmi</th>
      <th>Blog Açıklaması</th>
      <th>Blog Yayın Tarihi</th>
      <th>İşlemler</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-blog>
    <tr>
      <td>{{ blog.id }}</td>
      <td>
        <div class="img">
          <img [src]="blog.image" [alt]="blog.title" width="50px" />
        </div>
      </td>
      <td>
        {{ blog.title }}
      </td>
      <td>
        <p [innerHTML]="blog.description.slice(0, 25) + '...'"></p>
      </td>
      <td>{{ blog.publishDate }}</td>
      <td>
        <div class="edit">
          <p-button
            (click)="toggleSidebar(blog.id)"
            label="Düzenle"
            severity="warning"
            size="small"
          />
          <p-button
            (click)="deleteBlog(blog.id)"
            label="Sil"
            severity="danger"
            size="small"
          />
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>

<p-paginator
  [rows]="rows"
  [totalRecords]="blogs.length"
  [rowsPerPageOptions]="rowSize"
  (onPageChange)="onPageChange($event)"
/>
<p-toast />
<p-confirmDialog />
