.main {
  .content {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 30px;
    .left {
      flex: 0 1 calc(50% - 30px);
      width: 50%;
    }
    .right {
      flex: 0 1 calc(50% - 30px);
      width: 50%;
    }
  }

  .chart {
    margin-top: 50px;
    ::ng-deep {
      p-chart {
        canvas {
          width: 100% !important;
          height: auto !important;
        }
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .left {
    flex: 0 1 100% !important;
  }

  .right {
    flex: 0 1 100% !important;
  }
}
