<div class="blogs-content">
  <div class="cards" *ngIf="blogs.length > 0">
    <p-card [header]="blog.title" class="card" *ngFor="let blog of pagedBlogs">
      <ng-template pTemplate="header">
        <img [alt]="blog.title" [src]="blog.image" />
      </ng-template>
      <p [innerHTML]="blog.description.slice(0, 40) + '...'"></p>
      <ng-template pTemplate="footer">
        <p-button
          label="Bloğu Gör"
          severity="success"
          size="small"
          [routerLink]="'/blog-detail/' + blog.id"
        />
      </ng-template>
    </p-card>
  </div>

  <p-paginator
    [rows]="rows"
    [totalRecords]="blogs.length"
    [rowsPerPageOptions]="rowSize"
    (onPageChange)="onPageChange($event)"
  />
</div>
