<div class="btn-right">
  <p-button label="Kategori Ekle" size="small" (click)="toggleSidebar()" />
</div>

<p-sidebar
  [(visible)]="sidebarVisible"
  position="right"
  styleClass="w-30"
  appSidebar
>
  <app-category-feature [selectedCategoryId]="selectedCategoryId" />
</p-sidebar>

<p-table [value]="pagedCategories">
  <ng-template pTemplate="header">
    <tr>
      <th>Kategori ID</th>
      <th>Kategori İsmi</th>
      <th>Kategori Açıklaması</th>
      <th>İşlemler</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-category>
    <tr>
      <td>{{ category.id }}</td>
      <td>
        <div class="title">
          {{ category.title }}
        </div>
      </td>
      <td>{{ category.description }}</td>
      <td>
        <div class="edit">
          <p-button
            (click)="toggleSidebar(category.id)"
            label="Düzenle"
            severity="warning"
            size="small"
          />
          <p-button
            (click)="deleteCategory(category.id)"
            label="Sil"
            severity="danger"
            size="small"
          />
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>

<p-paginator
  [rows]="rows"
  [totalRecords]="categories.length"
  [rowsPerPageOptions]="rowSize"
  (onPageChange)="onPageChange($event)"
/>
<p-toast />
<p-confirmDialog />
