<div class="content">
  <h2 class="title">Kullanıcıyı Düzenle</h2>
  <form [formGroup]="form" class="form" (ngSubmit)="updateUser()">
    <input
      type="text"
      pInputText
      formControlName="firstName"
      style="width: 100%; margin-bottom: 10px"
      placeholder="Kullanıcı Adını Giriniz"
    />
    <input
      type="text"
      pInputText
      formControlName="lastName"
      style="width: 100%; margin-bottom: 10px"
      placeholder="Kullanıcı Soyadını Giriniz"
    />
    <input
      type="email"
      pInputText
      formControlName="email"
      style="width: 100%; margin-bottom: 10px"
      placeholder="Kullanıcı E-Mail Adresini Giriniz"
    />
    <input
      type="password"
      pInputText
      formControlName="password"
      style="width: 100%; margin-bottom: 10px"
      placeholder="Kullanıcı Şifresini Giriniz"
    />
    <p-checkbox
      formControlName="banned"
      [binary]="true"
      value="Kullanıcıyı Banla"
      inputId="ny"
    />
    <label for="ny" style="margin: 10px; display: inline-block"
      >Kullanıcıyı Banla</label
    >
    <p-button
      type="submit"
      label="Kullanıcıyı Güncelle"
      [disabled]="!form.valid"
      severity="success"
    />
  </form>
</div>

<p-toast />
