.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 170px);
}

.form {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 1px 1px 14px 0px rgba(136, 136, 136, 0.75);
  padding: 25px;
  width: 550px;
  .title {
    color: #1f1f1f;
    font-size: 16px;
    text-align: center;
    margin-bottom: 15px;
  }

  ::ng-deep {
    app-button-control {
      .p-20 {
        padding: 10px 0 0 0 !important;
      }
    }
  }

  .password {
    position: relative;
    .password-btn {
      position: absolute;
      top: 5px;
      right: 5px;
      background-color: #62ab00;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      padding: 7px;
      color: #fff;
      font-size: 15px;
    }
  }

  .to-link {
    font-size: 15px;
    margin-top: 15px;
    display: block;
    color: #62ab00;
    &:hover {
      text-decoration: underline;
    }
  }
}
