<div class="container">
  <form [formGroup]="form" (ngSubmit)="login()" class="form">
    <div class="title">
      <h1>Kitapçı Dayı'ya Giriş Yap</h1>
    </div>
    <input
      type="email"
      pInputText
      formControlName="email"
      style="width: 100%; margin-bottom: 10px"
      placeholder="E-Mail Adresinizi Giriniz"
    />
    <ng-container *ngIf="form.get('email').invalid && form.get('email').dirty">
      <p *ngIf="form.get('email').errors?.['required']">
        E-Mail Adresi Zorunludur
      </p>
      <p *ngIf="form.get('email').errors?.['email']">
        E-Mail Adresi Doğru Format'da Olmalıdır
      </p>
    </ng-container>
    <div class="password">
      <input
        [type]="passType"
        pInputText
        formControlName="password"
        style="width: 100%"
        placeholder="Şifrenizi Giriniz"
      />
      <ng-container
        *ngIf="form.get('password').invalid && form.get('password').dirty"
      >
        <p *ngIf="form.get('password').errors?.['required']">
          Şifre Alanı Zorunludur
        </p>
      </ng-container>
      <p>{{ userError }}</p>
      <button type="button" (click)="passwordShow()" class="password-btn">
        <ng-container *ngIf="passType == 'password'; else textInput">
          <i class="fa-regular fa-eye"></i>
        </ng-container>
        <ng-template #textInput>
          <i #textInput class="fa-regular fa-eye-slash"></i
        ></ng-template>
      </button>
    </div>
    <p-button
      type="submit"
      label="Giriş Yap"
      [disabled]="!form.valid"
      severity="success"
    />
    <a class="to-link" routerLink="/signup">Hesabın Yokmu?</a>
  </form>
</div>
