.sidenav {
  padding: 10px;
  background-color: #ffffff;
  border: 1px solid #161616;
  border-radius: 4px;
  height: 100vh;

  .side-title {
    font-size: 20px;
    color: #000;
    font-weight: 600;
    margin: 10px 0;
  }

  ::ng-deep {
    p-multiSelect {
      display: block;
      width: 100%;
      margin-bottom: 10px;
      .p-multiselect {
        width: 100%;
      }
    }
  }
}
