<div class="container">
  <form [formGroup]="form" (ngSubmit)="signup()" class="form">
    <div class="title">
      <h1>Kitapçı Dayı'ya Kayıt Ol</h1>
    </div>
    <input
      type="text"
      pInputText
      formControlName="firstName"
      style="width: 100%; margin-bottom: 10px"
      placeholder="İsminizi Giriniz"
    />
    <ng-container
      *ngIf="form.get('firstName').invalid && form.get('firstName').dirty"
    >
      <p *ngIf="form.get('firstName').errors?.['required']">
        İsim Alanı Zorunludur
      </p>
    </ng-container>
    <input
      type="text"
      pInputText
      formControlName="lastName"
      style="width: 100%; margin-bottom: 10px"
      placeholder="Soyisminizi Giriniz"
    />
    <ng-container
      *ngIf="form.get('lastName').invalid && form.get('lastName').dirty"
    >
      <p *ngIf="form.get('lastName').errors?.['required']">
        Soyisim Alanı Zorunludur
      </p>
    </ng-container>
    <input
      type="email"
      pInputText
      formControlName="email"
      style="width: 100%; margin-bottom: 10px"
      placeholder="E-Mail Adresinizi Giriniz"
    />
    <ng-container *ngIf="form.get('email').invalid && form.get('email').dirty">
      <p *ngIf="form.get('email').errors?.['required']">
        E-Mail Adresi Zorunludur
      </p>
      <p *ngIf="form.get('email').errors?.['email']">
        E-Mail Adresi Doğru Format'da Olmalıdır
      </p>
    </ng-container>
    <div class="password">
      <input
        [type]="passType"
        pInputText
        formControlName="password"
        style="width: 100%; margin-bottom: 10px"
        placeholder="Şifrenizi Giriniz"
      />
      <ng-container
        *ngIf="form.get('password').invalid && form.get('password').dirty"
      >
        <p *ngIf="form.get('password').errors?.['required']">
          Şifre Alanı Zorunludur
        </p>
        <p *ngIf="form.get('password').errors?.['minlength']">
          Şifreniz Minumum 6 Karakter Olmalıdır
        </p>
        <p *ngIf="form.get('password').errors?.['maxlength']">
          Şifreniz Maximum 12 Karakter Olmalıdır
        </p>
      </ng-container>

      <p-button
        (click)="passwordShow()"
        severity="success"
        class="password-btn"
      >
        <ng-container *ngIf="passType == 'password'; else textInput">
          <i class="fa-regular fa-eye"></i>
        </ng-container>
        <ng-template #textInput>
          <i #textInput class="fa-regular fa-eye-slash"></i
        ></ng-template>
      </p-button>
    </div>
    <input
      [type]="passType"
      pInputText
      formControlName="rePassword"
      style="width: 100%; margin-bottom: 10px"
      placeholder="Şifrenizi Tekrardan Giriniz"
    />
    <ng-container *ngIf="form.get('rePassword').touched">
      <p *ngIf="form.get('password').value !== form.get('rePassword').value">
        Şifreler Birbirine Eşit Olmalıdır
      </p>
    </ng-container>
    <p-button
      type="submit"
      label="Kayıt Ol"
      [disabled]="!form.valid"
      severity="success"
    />
    <a class="to-link" routerLink="/login">Zaten Bir Hesabın Varmı?</a>
  </form>
</div>
