<div class="content">
  <h2 class="title" *ngIf="selectedCategoryId === null; else edit">
    Kategori Ekle
  </h2>
  <ng-template #edit>
    <h2 class="title">Kategoriyi Düzenle</h2>
  </ng-template>
  <form
    [formGroup]="form"
    class="form"
    (ngSubmit)="
      selectedCategoryId !== null
        ? addCategory(selectedCategoryId)
        : addCategory()
    "
  >
    <input
      pInputText
      formControlName="title"
      style="width: 100%; margin-bottom: 10px"
      placeholder="Kategori Adını Giriniz"
    />
    <ng-container *ngIf="form.get('title').invalid && form.get('title').dirty">
      <p *ngIf="form.get('title').errors?.['required']">
        Kategori Adı Zorunludur
      </p>
    </ng-container>
    <input
      pInputText
      formControlName="description"
      style="width: 100%; margin-bottom: 10px"
      placeholder="Kategori Açıklamasını Giriniz"
    />
    <ng-container
      *ngIf="form.get('description').invalid && form.get('description')"
    >
      <p *ngIf="form.get('description').errors?.['required']">
        Kategori Açıklaması Zorunludur
      </p>
    </ng-container>
    <p-button
      type="submit"
      [label]="
        selectedCategoryId !== null ? 'Kategoriyi Güncelle' : 'Kategori Ekle'
      "
      [disabled]="!form.valid"
      severity="success"
      size="small"
    />
  </form>
</div>
<p-toast />
