<div class="content">
  <h2 class="title" *ngIf="selectedCategoryId === null; else edit">
    Kategori Ekle
  </h2>
  <ng-template #edit>
    <h2 class="title">Kategoriyi Düzenle</h2>
  </ng-template>
  <form
    [formGroup]="form"
    class="form"
    (ngSubmit)="
      selectedCategoryId !== null
        ? addCategory(selectedCategoryId)
        : addCategory()
    "
  >
    <app-input-control
      [form]="form"
      [fb]="newTitle"
      placeholder="Kategori Adını Giriniz"
    />
    <ng-container *ngIf="newTitle.invalid && newTitle.dirty">
      <p *ngIf="newTitle.errors?.['required']">Kategori Adı Zorunludur</p>
    </ng-container>
    <app-input-control
      [form]="form"
      [fb]="newDescription"
      placeholder="Kategori Açıklamasını Giriniz"
    />
    <ng-container *ngIf="newDescription.invalid && newDescription.dirty">
      <p *ngIf="newDescription.errors?.['required']">
        Kategori Açıklaması Zorunludur
      </p>
    </ng-container>
    <app-button-control
      [disabled]="!form.valid"
      [content]="
        selectedCategoryId !== null ? 'Kategoriyi Güncelle' : 'Kategori Ekle'
      "
    />
    <p-toast></p-toast>
    <p-confirmDialog></p-confirmDialog>
  </form>
</div>
