.p-20 {
  padding: 20px 0;
}

.btn {
  padding: 10px 13px;
  border-radius: 4px;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  width: 100%;
  display: block;

  &.btn-primary {
    background-color: #62ab00;
    transition: 0.3s;
    &:hover {
      background-color: #7fc524;
    }

    &:disabled {
      background-color: #555555;
      cursor: not-allowed;
      color: #fff;
    }
  }

  &.btn-warning {
    background-color: #ede140;
    transition: 0.3s;
    color: #000;
    &:hover {
      background-color: #c7be3d;
    }

    &:disabled {
      background-color: #555555;
      cursor: not-allowed;
      color: #fff;
    }
  }

  &.btn-danger {
    background-color: #ed4040;
    transition: 0.3s;
    &:hover {
      background-color: #f52828;
    }

    &:disabled {
      background-color: #555555;
      cursor: not-allowed;
      color: #fff;
    }
  }
}
