<div class="btn-right">
  <p-button label="Kitap Ekle" size="small" (click)="toggleSidebar()" />
</div>

<p-sidebar
  [(visible)]="sidebarVisible"
  position="right"
  styleClass="w-30"
  appSidebar
>
  <app-book-feature [selectedBookId]="selectedBookId" />
</p-sidebar>

<div class="content">
  <p-table [value]="pagedBooks">
    <ng-template pTemplate="header">
      <tr>
        <th>Kitap ID</th>
        <th>Kitap Kapak Fotoğrafı</th>
        <th>Kitap İsmi</th>
        <th>Kitap Kategorisi</th>
        <th>Kitap Kira Bilgisi</th>
        <th>İşlemler</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-book>
      <tr>
        <td>{{ book.id }}</td>
        <td>
          <div class="img" (click)="bookReadMore(book.id)">
            <img [src]="book.image" [alt]="book.title" />
          </div>
        </td>
        <td>
          {{ book.title }}
        </td>
        <td>{{ getCategoryName(book.categoryId) }}</td>
        <td>
          <p>{{ book.isRented ? "Kiralandı" : "Kiralık" }}</p>
          <p>
            {{ book.isRented ? getUserName(book.rentedFrom) : "" }}
          </p>
        </td>
        <td>
          <div class="edit">
            <p-button
              (click)="bookReadMore(book.id)"
              label="Detaylı Gör"
              severity="success"
              size="small"
            />
            <p-button
              (click)="toggleSidebar(book.id)"
              label="Düzenle"
              severity="warning"
              size="small"
            />
            <p-button
              (click)="deleteBook(book.id)"
              label="Sil"
              severity="danger"
              size="small"
            />
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<p-paginator
  [rows]="rows"
  [totalRecords]="books.length"
  [rowsPerPageOptions]="rowSize"
  (onPageChange)="onPageChange($event)"
/>
<p-toast />
<p-confirmDialog />
<p-dialog
  header="Kitap Detayı"
  [(visible)]="visible"
  [modal]="true"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
>
  <div *ngIf="book">
    <div
      style="
        margin-bottom: 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
      "
    >
      <h1>{{ book.title }}</h1>
      <img [src]="book.image" [alt]="book.title" width="100px" />
    </div>
    <div
      style="background-color: #ccc; height: 2px; width: 98%; margin: 0 auto"
    ></div>
    <h2>Açıklama</h2>
    <p [innerHTML]="book.description"></p>
    <div
      style="background-color: #ccc; height: 2px; width: 98%; margin: 0 auto"
    ></div>
    <p><strong>Yayıncı: </strong>{{ book.publisher }}</p>
    <p><strong>Yazar: </strong>{{ book.author }}</p>
    <p><strong>Kategori: </strong>{{ getCategoryName(book.categoryId) }}</p>
    <p><strong>Fiyat: </strong>{{ book.price }}</p>
    <p><strong>Yayın Tarihi: </strong>{{ book.publishDate }}</p>
    <p><strong>Sayfa Sayısı: </strong>{{ book.pageNumber }}</p>
    <p><strong>Kiralık mı?: </strong>{{ book.isRented ? "Evet" : "Hayır" }}</p>
    <p *ngIf="book.isRented">
      <strong>Kim Tarafından Kiralandı?: </strong
      >{{ getUserName(book.rentedFrom) }}
    </p>
  </div>
</p-dialog>
